/** GENERAL STYLES
--------------------------------------------------------------------------------------**/
* {
	margin: 0;
	padding: 0;
}


body {
	font-family: 'Source Sans Pro', 'Source Sans', sans-serif;
	text-align: center;
	font-weight: 100;
}

img {
	width: 100%;
}

h1 {
	color: #fff;
	font-weight: 300;
	font-size: 4em;
}

h3 {
	color: rgb(51, 51, 51);
}

h4 {
	color: #fff;
	font-weight: 400;
	font-size: 1.3em;
}

p {
	font-size: 1.2em;
}

.btn-default {
	background-color: #5abcd9;
	border: none;
	font-size: 1.5em;
	color: #fff;
	margin-bottom: 10px;
	-webkit-transition:  background-color .3s, color .3s;
	transition: background-color .3s, color .3s;
}

.btn-default:hover, .btn-default:focus {
	background-color: #7f96dc;
}

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

	h1 {
		font-size: 6em;
	}

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.left_align_md {
		text-align: left;
	}

	p {
		font-size: 1.3em;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

/** NAVIGATION 
--------------------------------------------------------------------------------------**/

/** navbar general **/

.navbar {
	background-color: #fff;
	margin-bottom: 0px;
}

/** navbar brand **/

.logo {
	background-image: url(../images/fantoo-logo.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 150px;
	margin-top: 10px;
	margin-left: 15px;
}

/** navbar navigation **/

.navbar-nav a {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 2em;
}

.navbar-toggle p{
	margin-top: 5px;
	margin-bottom: 5px;
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

	.navbar-nav a {
		margin-top: 0;
		margin-bottom: 0;
		border-left: 1px solid #b7b7b7;
		font-size: 1.5em;
	}

	.social_buttons a {
		border: none;
	}

	.navbar-nav li a{
		padding-top: 30px;
		padding-bottom: 30px;
	}
}

/** FOOTER
--------------------------------------------------------------------------------------**/

footer {
	background-color: #333;
	color: #fff;
	padding-top: 15px;
}

footer ul {
	list-style-type: none;
}

footer a {
	color: #f9f9f9;
	text-decoration: underline;
}

footer a:hover {
	color: #7f96dc;
}

footer p {
	font-size: .8em;
}

.coming_soon {
	color: #f7f7f7;
}

/** BODY CONTENT
--------------------------------------------------------------------------------------**/

.padding {
	padding-bottom: 50px;
	padding-top: 50px;
}

.padding_top {
	padding-top: 50px;
}

.text_padding {
	padding-bottom: 50px;
}

@media only screen and (min-width : 992px) {
	.padding_top {
		padding-top: 125px;
	}
	.padding{
		padding-top: 125px;
		padding-bottom: 125px;
	}
}

/** HERO SECTION
-----------------**/

.dark_background {
	background-color: rgba(33, 33, 33, 0.5);
	border-radius: 5px;
	color: #fff;
	padding: 15px 30px;
	margin-top: 50px;
}

/** index.html hero section **/

#index_hero {
	background-image: url(../images/fantoo-landing.jpg);
	background-size: cover;
	background-position: center;
}

.play_button {
	background-color: rgba(33, 33, 33, 0.5);
	padding-top: 15px;
	font-size: 2em;
	width: 60px;
	height: 60px;
	margin: 5px auto;
	color: #fff;
	border-radius: 50%;
}

.play_button:hover {
	background-color: #7f96dc;
	color: rgb(51, 51, 51);
}

.down_arrow {
	margin-top: 25px;
	color: #fff;
	font-size: 2em;
}

/** GRADIENT SECTION
-----------------**/

.gradient_background {
  background: -webkit-linear-gradient(135deg, #5abcd9, #7f96dc); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(135deg, #5abcd9, #7f96dc); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(135deg, #5abcd9, #7f96dc); /* For Firefox 3.6 to 15 */
  background: linear-gradient(135deg, #5abcd9, #7f96dc); /* Standard syntax */
  color: #fff;
}

.gradient_background h3 {
	color: #fff;
}

.gradient_background hr {
	background-color: #fff;
	border-top: 1px #fff;
}

/** dell gradient section **/

.round_portrait {
	border-radius: 50%;
}

.speech_bubble {
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: central;
}

.speech_bubble h2 {
	padding: 5px;
	margin: 0;
}

.speech_bubble_arrow_left {
	border-style: solid;
	position: absolute;
	border-color: rgba(255, 255, 255, 0.3) transparent transparent;
	border-width: 8px 0px 8px 8px;
	left: -8px;
}

.dell_images {
	margin-bottom: 15px;
}

.dell_body_padding {
	padding-top: 25px;
	padding-bottom: 25px;
}

.dell_text_padding {
	padding-top: 10px;
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.dell_border {
		border-right: 1px solid #fff;
	}
}

/** LIGHT GREY SECTION
-----------------**/

.light_grey {
	background-color: #f3f3f3;
}

/** DARK GREY SECTION
-----------------**/

.dark_grey {
	background-color: #dedede;
}

@media only screen and (min-width : 992px) {
	#dashboard_view img{
		padding-top: 40px;
	}
}

/** BACKGROUND IMAGE SECTION
-----------------**/

/** one touch **/

.one_touch {
	background-image: url(../images/reply.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
}


